.fragment-replace-container {
  position: relative;
}

.fragment-replace-item {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.no-markers li::marker{
  display: none;
  content: '';
}

.side-to-side-code-image {
  display: flex;
  justify-content: space-between;
}

.side-to-side-code-image > * {
  display: block;
  width: 50% !important;
  height: 100%;
}

.side-to-side-code-image img {
  margin: 0;
}


li code, code.inline, p > code{
  background: #940000;
    padding: 0 0.3em;
    background: #940000;
    border-radius: 0.3em;
}

.wrong-box, .correct-box, .info-box {
  border-radius: 0.3em;
  padding: 0.5em;
  border-width: 1px;
  border-style: solid;
}

.wrong-box {
  border-color:#cf1212;
  background-color: #bf090991;
}

.correct-box {
  border-color: rgb(21, 150, 62);
  background-color: rgb(21 150 62 / 74%);
}

.info-box {
  border-color: #0009ff;
  background-color: #2b2bb6;
}

.wrong-box + .correct-box,
.correct-box + .wrong-box {
margin-top: 0.5em;
}

.presentation {
  display: flex;
}

.presentation .details {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.twitter-badge {
  width: 50px;
  height: 50px;
}

.social-media{
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar img {
  border-radius: 100%;
}

.no-max-height-code code {
  max-height: none !important;
}